{% extends 'ThemesBundle::backend.html.twig' %}

{% block body -%}
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Listado de Cursos Virtuales</h3></div>
        <div class="panel-body">
            <a href="{{ path('cursosvirtuales_new') }}" class="btn btn-info"><span class="glyphicon glyphicon-ok"></span>
                Crear nuevo
            </a>
                <hr>
   <div class="table-responsive">
  <table id="example1" class="table table-bordered table-striped">
      <thead>
            <tr>
                <th>No.</th>
                <th>Nombre curso</th>
                <th>Descripción curso</th>
                <th>Url audio</th>
                <th>Url curso</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('cursosvirtuales_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>{{ entity.nombreCurso }}</td>
                <td>{{ entity.descripcionCurso }}</td>
               <td>{% if entity.urlAudio == null %}
                        
                    {% else %}
                                      <a href="{{ entity.urlAudio }}" target="_blank" class="btn btn-info"><span class="glyphicon glyphicon-headphones"></span></a></td>
                    {% endif %}
                    <td><a href="{{ entity.urlCurso }}" target="_blank" class="btn btn-success"><span class="glyphicon glyphicon-globe"></span></a></td>
                <td>
                    {% if entity.estado == 1 %}
                    
                    <a href="#" class="btn btn-info"><span class="glyphicon glyphicon-check"></span></a>
                    {% else %}
                       <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-exclamation-sign"></span></a> 
                    {% endif %}    
                    </td>
                <td>

                        <a href="{{ path('cursosvirtuales_show', { 'id': entity.id }) }}"  class="btn btn-success btn-sm"><span class="glyphicon glyphicon-search"></span></a>
                        <a href="{{ path('cursosvirtuales_edit', { 'id': entity.id }) }}" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-edit"></span></a>
                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
                 </div>
        </div>
    </div>
    {% endblock %}
{% block javascripts %}
    {{ parent() }}
   
   <script type="text/javascript">
            $(function() {
                $("#example1").dataTable({
                    "bSort": false,
                    "bAutoWidth": true
                });
                $('#example2').dataTable({
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": false,
                    "bSort": true,
                    "bInfo": true,
                    "bAutoWidth": false
                });
            });
        </script>
{% endblock %}    