{% extends 'ThemesBundle::backend.html.twig' %}

{% block body -%}
    <h1>Oficinas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>No.</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre oficina</th>
                <td>{{ entity.nombreOficina }}</td>
            </tr>
            <tr>
                <th>Dirección oficina</th>
                <td>{{ entity.direccionOficina }}</td>
            </tr>
            <tr>
                <th>Descripción oficina</th>
                <td>{{ entity.descripcionOficina }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('oficinas_admin') }}">
            Volver al Listado
        </a>
    </li>
    <li>
        <a href="{{ path('oficinas_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
