{% extends 'ThemesBundle::backend.html.twig' %}

{% block body -%}
    <h1>Oficinas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>No.</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre oficina</th>
                <td>{{ entity.nombreOficina }}</td>
            </tr>
            <tr>
                <th>Dirección oficina</th>
                <td>{{ entity.direccionOficina }}</td>
            </tr>
            <tr>
                <th>Descripción oficina</th>
                <td>{{ entity.descripcionOficina }}</td>
            </tr>
        </tbody>
    </table>

        
        <a href="{{ path('oficinas_admin') }}" class="btn btn-success"><span class="glyphicon glyphicon-arrow-left"></span>
            Volver al Listado
        </a>
   
        <a href="{{ path('oficinas_edit', { 'id': entity.id }) }}" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span>
            Editar
        </a>
    {{ form(delete_form) }}
{% endblock %}
