{% extends 'ThemesBundle::backend.html.twig' %}

{% block body -%}
        <div class="panel panel-default">
            
            
            <div class="panel-heading"><h3 class="panel-title">Convocatorias</h3></div>
        <div class="panel-body"> 
       
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Título Convocatoria</th>
                <td>{{ entity.tituloConvocatoria }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Url audio</th>
                <td>{{ entity.urlAudio }}</td>
            </tr>
            <tr>
                <th>Url convocatoria</th>
                <td>{{ entity.urlConvocatoria }}</td>
            </tr>
            <tr>
                <th>Descripcion larga</th>
                <td>{{ entity.descripcionLarga }}</td>
            </tr>
        </tbody>
    </table>

      
        <a href="{{ path('convocatorias') }}" class="btn btn-success">
            <span class="glyphicon glyphicon-arrow-left"></span> Volver al listado
        </a>
    
        <a href="{{ path('convocatorias_edit', { 'id': entity.id }) }}" class="btn btn-warning">
            <span class="glyphicon glyphicon-edit"></span> Editar
        </a>
    
    {{ form(delete_form) }}
        </div>
        </div>
{% endblock %}
