{% extends 'ThemesBundle::backend.html.twig' %}
{% block body %}
     <div class="row">
        
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    
                    <div class="col-lg-3 col-xs-4">
                            <!-- small box -->
                            <div class="small-box bg-yellow">
                                <div class="inner">
                                    <h3>
                                        Zona
                                    </h3>
                                    <p>
                                       INTERNA
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-arrow-circle-right">
                                        <a href="{{ path('fos_user_security_login', { 'usuario': app.user.email }) }}" class="small-box-footer">
                                            <i class="ion ion-person-add"></i>
                                        </a>
                                    </i>
                                </div>
                                <a href="{{ path('fos_user_security_login', { 'usuario': app.user.email }) }}" class="small-box-footer">
                                    Mas Información <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>
            
                    <div class="col-md-6">
                    <div class="box box-solid box-danger col-lg-3 col-xs-4">
                                <div class="box-header">
                                    <h3 class="box-title">Advertencia</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-danger btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        <button class="btn btn-danger btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    
                                    <p>
                                        Esta es la Zona de administración de usuarios, por ello debes tener especial
                                        cuidado con los cambios realizados
                                    </p>
                                </div><!-- /.box-body -->
                            </div>
                    </div>
                </div>
                {% else %}    
                {% if is_granted('ROLE_SOLICITUDES') %}
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-aqua">
                                <div class="inner">
                                    <h3>
                                        {% for pendiente in pendientes %}
                                            {{ pendiente.Cuenta }}
                                        {% endfor %}    
                                    </h3>
                                    <p>
                                        Nuevas Solicitudes
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-bag"></i>
                                </div>
                                <a href="{{ path('solmantenimientoidentificacion') }}" class="small-box-footer">
                                    Ver <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>
                 {% endif %}    
                 <!-- ./col -->
                 {% if is_granted('ROLE_CONVOCATORIAS') %}
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-green">
                                <div class="inner">
                                    <h3>
                                        {% for cursos in cursosActivos %}
                                            {{ cursos.Cuenta }}
                                        {% endfor %}    
                                    </h3>
                                    <p>
                                        Cursos Activos
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-stats-bars"></i>
                                </div>
                                <a href="{{ path("cursosvirtuales") }}" class="small-box-footer">
                                    Mas Información <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                    {% endif %}    
                     {% if is_granted('ROLE_CONVOCATORIAS') %}
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-yellow">
                                <div class="inner">
                                    <h3>
                                         {% for convocatoria in convocatorias %}
                                            {{ convocatoria.Cuenta }}
                                        {% endfor %} 
                                    </h3>
                                    <p>
                                        Convocatorias
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-person-add"></i>
                                </div>
                                <a href="{{ path("convocatorias") }}" class="small-box-footer">
                                    Mas Información <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        {% endif %}
                         {% if is_granted('ROLE_OFERTAS') %}
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-red">
                                <div class="inner">
                                    <h3>
                                        {% for oferta in ofertas %}
                                            {{ oferta.Cuenta }}
                                        {% endfor %} 
                                    </h3>
                                    <p>
                                        Ofertas Institucionales
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-pie-graph"></i>
                                </div>
                                <a href="{{ path("ofertasinstitucionales") }}" class="small-box-footer">
                                    Mas Información <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        {% endif %}
                        {% endif %}
                    </div>
{% endblock %}  