{% extends 'ThemesBundle::backend.html.twig' %}

{% block body -%}
    <h1>Pasos Oferta {{ entity.ofertaInstitucional.tituloOferta }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Titulo pasos</th>
                <td>{{ entity.tituloPasos }}</td>
            </tr>
            <tr>
                <th>Descripción paso</th>
                <td>{{ entity.descripcionPaso }}</td>
            </tr>
            <tr>
                <th>Url paso</th>
                <td><a href="{{ entity.urlPaso }}" target="_blank">{{ entity.urlPaso }}</a></td>
            </tr>
        </tbody>
    </table>

           <hr>
        <a href="{{ path('ofertasinstitucionales_show', { 'id': oferta }) }}" class="btn btn-success"><span class="glyphicon glyphicon-arrow-left"></span>
            Volver al listado
        </a>
    
        <a href="{{ path('pasosoferta_edit', { 'id': entity.id }) }}" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span>
            Editar
        </a>
    {{ form(delete_form) }}
{% endblock %}
