{% extends 'ThemesBundle::plantilla2.html.twig' %}
{% block body %}
<table class="table">
        <thead>
            <tr>
                <th>No. </th>
                <th>Titulo</th>
                <th>Descripción</th>
                <th>Url audio</th>
                <th>Url Servicio</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('convocatorias_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>{{ entity.tituloServicio }}</td>
                <td>{{ entity.descripcionServicio }}</td>
                <td><a href="{{ entity.urlAudioServicio }}" target="_blank">{{ entity.urlAudioServicio }}</a></td>
                <td><a href="{{ entity.urlServicio }}" target="_blank">{{ entity.urlServicio }}</a></td>
                <td>
               
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}