{% extends 'ThemesBundle::plantilla2.html.twig' %}
{% block body %}
    
 <div class="panel panel-default">
     <div class="panel-heading"><h3 class="panel-title">Servicios</h3></div>
            <div class="panel-body">
                <div class="table-responsive">
  <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>No. </th>
                <th>Titulo</th>
                <th>Descripción</th>
                <th>Url audio</th>
                <th>Url Servicio</th>
               
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ entity.tituloServicio }}</td>
                <td>{{ entity.descripcionServicio }}</td>
                <td>
                    {% if entity.urlAudioServicio == null %}
                        
                    {% else %}    
                    <form method="post" action="{{ path('web_paginas') }}">
                        <input type="hidden" name="pagina" value="{{ entity.urlAudioServicio }}" /><button class="btn btn-info"><span class="glyphicon glyphicon-headphones"></span></button>
                    </form>
                    {% endif %}
                    
                <td><form method="post" action="{{ path('web_paginas') }}">
                        <input type="hidden" name="pagina" value="{{ entity.urlServicio }}" /><button class="btn btn-success"><span class="glyphicon glyphicon-globe"></span></button>
                    </form></td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
            </div>
 </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

      <script src="{{ asset('bundles/themes/js/plugins/datatables/jquery.dataTables.js') }}" type="text/javascript"></script>
      <script src="{{ asset('bundles/themes/js/plugins/datatables/dataTables.bootstrap.js') }}" type="text/javascript"></script>
   
   <script type="text/javascript">
            $(function() {
                $("#example1").dataTable({
                    "bAutoWidth": true
                });
                $('#example2').dataTable({
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": false,
                    "bSort": true,
                    "bInfo": true,
                    "bAutoWidth": false
                });
            });
        </script>
{% endblock %}