{% extends 'ThemesBundle::plantilla2.html.twig' %}
{% block body %}
    
 <div class="panel panel-default">
     <div class="panel-heading"><h3 class="panel-title">Servicios</h3></div>
            <div class="panel-body">
<div class="table-responsive">                
<table class="table">
        <thead>
            <tr>
                <th>No. </th>
                <th>Titulo</th>
                <th>Descripción</th>
                <th>Url audio</th>
                <th>Url Servicio</th>
               
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ entity.tituloServicio }}</td>
                <td>{{ entity.descripcionServicio }}</td>
                <td><a href="{{ entity.urlAudioServicio }}" target="_blank" class="btn btn-info"><span class="glyphicon glyphicon-headphones"></span></a></td>
                <td><a href="{{ entity.urlServicio }}" target="_blank"class="btn btn-success"><span class="glyphicon glyphicon-globe"></span></a></td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
            </div>
 </div>
{% endblock %}