{% extends 'ThemesBundle::backend.html.twig' %}

{% block body -%}
   <div class="panel panel-default">
       <div class="panel-heading"><h3 class="panel-title">Municipio list</h3></div>

       <div class="panel-body"> 
           
              <a href="{{ path('municipio_new') }}" class="btn btn-info"><span class="glyphicon glyphicon-ok"></span>
                Crear nuevo
            </a>
    <table class="table">
        <thead>
            <tr>
                <th>No.</th>
                <th>Nombre municipio</th>
                <th>Tipo municipio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('municipio_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>{{ entity.nombreMunicipio }}</td>
                <td>{{ entity.tipoMunicipio }}</td>
                <td>
                       <a href="{{ path('municipio_show', { 'id': entity.id }) }}" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-search"></span></a>
                        <a href="{{ path('municipio_edit', { 'id': entity.id }) }}" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-edit"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

       </div>
   </div>
    {% endblock %}
