{% extends 'ThemesBundle::backend.html.twig' %}

{% block body -%}
   <div class="panel panel-default">
       <div class="panel-heading"><h3 class="panel-title">Listado de Municipios</h3></div>

       <div class="panel-body"> 
           
              <a href="{{ path('municipio_new') }}" class="btn btn-info"><span class="glyphicon glyphicon-ok"></span>
                Crear nuevo
            </a>
                <hr>
   <div class="table-responsive">
  <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>No.</th>
                <th>Nombre municipio</th>
                <th>Tipo municipio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('municipio_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>{{ entity.nombreMunicipio }}</td>
                <td>{{ entity.tipoMunicipio }}</td>
                <td>
                       <a href="{{ path('municipio_show', { 'id': entity.id }) }}" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-search"></span></a>
                        <a href="{{ path('municipio_edit', { 'id': entity.id }) }}" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-edit"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
                 </div>
       </div>
   </div>
    {% endblock %}
{% block javascripts %}
    {{ parent() }}
   
   <script type="text/javascript">
            $(function() {
                $("#example1").dataTable({
                    "bSort": false,
                });
                $('#example2').dataTable({
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": false,
                    "bSort": true,
                    "bInfo": true,
                    "bAutoWidth": false
                });
            });
        </script>
{% endblock %}    