{% extends 'ThemesBundle::backend.html.twig' %}

{% block body -%}
  <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Listado Solicitudes Pendientes</h3></div>
        <div class="panel-body">
             <div class="table-responsive">
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
               
                <th>Estado solicitud</th>
                {#<th>Justificacionreidentificacion</th>#}
                
                <th>Ica3101</th>
                <th>Nombre finca</th>
                <th>Nombre propietario finca</th>
                {# <th>Cedula propietario finca</th>
                <th>Telefono fijo propietario</th>
                <th>Telefono celular propietario</th>
                <th>Nombre solicitante</th>
                {#<th>Cedula solicitante</th>
                <th>Telefono fijo solicitante</th>
                <th>Telefono celular solicitante</th>
                {#<th>Fechaprogramadaidentificacion</th>#}
                {#<th>Observacionesrevision</th>#}
                <th>Fecha solicitud</th>
                <th>Acciones</th>
               
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                {#<td><a href="{{ path('solmantenimientoidentificacion_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>#}
                <td>{{ entity.estadoSolicitud.descripcion }}</td>
                {#<td>{{ entity.justificacionReidentificacion }}</td>#}
               
                <td>{{ entity.ica3101 }}</td>
                <td>{{ entity.nombreFinca }}</td>
                <td>{{ entity.nombrePropietarioFinca }}</td>
               {# <td>{{ entity.cedulaPropietarioFinca }}</td> 
                <td>{{ entity.telefonoFijoPropietario }}</td>
                <td>{{ entity.telefonoCelularPropietario }}</td>
                <td>{{ entity.nombreSolicitante }}</td>
               {# <td>{{ entity.cedulaSolicitante }}</td> 
                <td>{{ entity.telefonoFijoSolicitante }}</td>
                <td>{{ entity.telefonoCelularSolicitante }}</td>
               {# <td>{% if entity.fechaProgramadaIdentificacion %}{{ entity.fechaProgramadaIdentificacion|date('Y-m-d H:i:s') }}{% endif %}</td> #}
               {# <td>{{ entity.observacionesRevision }}</td>#}
                <td>{% if entity.fechaSolicitud %}{{ entity.fechaSolicitud|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td><a href="{{ path('solmantenimientoidentificacion_show', { 'id': entity.id }) }}" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-search"></span></a>
                <a href="{{ path('solmantenimientoidentificacion_edit', { 'id': entity.id }) }}" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-edit"></span></a></td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
                                            <tr>
                <th>Estado solicitud</th>
                {#<th>Justificacionreidentificacion</th>#}
                
                <th>Ica3101</th>
                <th>Nombre finca</th>
                <th>Nombre propietario finca</th>
                {# <th>Cedula propietario finca</th>
                <th>Telefono fijo propietario</th>
                <th>Telefono celular propietario</th>
                <th>Nombre solicitante</th>
                {#<th>Cedula solicitante</th>
                <th>Telefono fijo solicitante</th>
                <th>Telefono celular solicitante</th>
                {#<th>Fechaprogramadaidentificacion</th>#}
                {#<th>Observacionesrevision</th>#}
                <th>Fecha solicitud</th>
                <th>Acciones</th>
                                            </tr>
                                        </tfoot>
    </table>
                </div>
                </div>
  </div> 
    {% endblock %}
{% block javascripts %}
    {{ parent() }}
    
      <script type="text/javascript" src="{{ asset('bundles/themes/plantilla2/js/jquery.min.js') }}"></script>
      <script src="{{ asset('bundles/themes/js/bootstrap.min.js') }}" type="text/javascript"></script>
      <script src="{{ asset('bundles/themes/js/plugins/datatables/jquery.dataTables.js') }}" type="text/javascript"></script>
      <script src="{{ asset('bundles/themes/js/plugins/datatables/dataTables.bootstrap.js') }}" type="text/javascript"></script>
      <script src="{{ asset('bundles/themes/js/AdminLTE/app.js') }}" type="text/javascript"></script>
     
    
   <script type="text/javascript">
            $(function() {
                $("#example1").dataTable({
                    "bSort": false,
                });
                $('#example2').dataTable({
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": false,
                    "bSort": true,
                    "bInfo": true,
                    "bAutoWidth": false
                });
            });
        </script>
{% endblock %}    