{% extends 'ThemesBundle::backend.html.twig' %}

{% block body -%}
    <h1>Listado Sol MantenimientoIdentificacion</h1>
 <ul>
        <li>
            <a href="{{ path('solmantenimientoidentificacion_new') }}">
                Crear nueva
            </a>
        </li>
    </ul>
    <table class="table">
        <thead>
            <tr>
                <th>No.</th>
                <th>Fechasolicitud</th>
                <th>Justificacionreidentificacion</th>
                <th>Solicitudmantenimientoidentificacion</th>
                <th>Ica3101</th>
                <th>Nombrefinca</th>
                <th>Nombrepropietariofinca</th>
                <th>Cedulapropietariofinca</th>
                <th>Telefonofijopropietario</th>
                <th>Telefonocelularpropietario</th>
                <th>Nombresolicitante</th>
                <th>Cedulasolicitante</th>
                <th>Telefonofijosolicitante</th>
                <th>Telefonocelularsolicitante</th>
                <th>Fechaprogramadaidentificacion</th>
                <th>Observacionesrevision</th>
                <th>Estadosolicitud</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('solmantenimientoidentificacion_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>{% if entity.fechaSolicitud %}{{ entity.fechaSolicitud|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.justificacionReidentificacion }}</td>
                <td>{{ entity.solicitudMantenimientoIdentificacion }}</td>
                <td>{{ entity.ica3101 }}</td>
                <td>{{ entity.nombreFinca }}</td>
                <td>{{ entity.nombrePropietarioFinca }}</td>
                <td>{{ entity.cedulaPropietarioFinca }}</td>
                <td>{{ entity.telefonoFijoPropietario }}</td>
                <td>{{ entity.telefonoCelularPropietario }}</td>
                <td>{{ entity.nombreSolicitante }}</td>
                <td>{{ entity.cedulaSolicitante }}</td>
                <td>{{ entity.telefonoFijoSolicitante }}</td>
                <td>{{ entity.telefonoCelularSolicitante }}</td>
                <td>{% if entity.fechaProgramadaIdentificacion %}{{ entity.fechaProgramadaIdentificacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.observacionesRevision }}</td>
                <td>{{ entity.estadoSolicitud }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('solmantenimientoidentificacion_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('solmantenimientoidentificacion_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

       
    {% endblock %}
