{% extends 'ThemesBundle::backend.html.twig' %}

{% block body -%}
  <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Listado Solicitudes Pendientes</h3></div>
        <div class="panel-body">
    <table id="example1" class="table table-bordered table-striped dataTable">
        <thead>
            <tr>
               
                <th>Fechasolicitud</th>
                {#<th>Justificacionreidentificacion</th>#}
                
                <th>Ica3101</th>
                <th>Nombre finca</th>
                <th>Nombre propietario finca</th>
                {# <th>Cedula propietario finca</th>
                <th>Telefono fijo propietario</th>
                <th>Telefono celular propietario</th>
                <th>Nombre solicitante</th>
                {#<th>Cedula solicitante</th>
                <th>Telefono fijo solicitante</th>
                <th>Telefono celular solicitante</th>
                {#<th>Fechaprogramadaidentificacion</th>#}
                {#<th>Observacionesrevision</th>#}
                <th>Estadosolicitud</th>
               
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                {#<td><a href="{{ path('solmantenimientoidentificacion_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>#}
                <td>{% if entity.fechaSolicitud %}{{ entity.fechaSolicitud|date('Y-m-d H:i:s') }}{% endif %}</td>
                {#<td>{{ entity.justificacionReidentificacion }}</td>#}
               
                <td>{{ entity.ica3101 }}</td>
                <td>{{ entity.nombreFinca }}</td>
                <td>{{ entity.nombrePropietarioFinca }}</td>
               {# <td>{{ entity.cedulaPropietarioFinca }}</td> 
                <td>{{ entity.telefonoFijoPropietario }}</td>
                <td>{{ entity.telefonoCelularPropietario }}</td>
                <td>{{ entity.nombreSolicitante }}</td>
               {# <td>{{ entity.cedulaSolicitante }}</td> 
                <td>{{ entity.telefonoFijoSolicitante }}</td>
                <td>{{ entity.telefonoCelularSolicitante }}</td>
               {# <td>{% if entity.fechaProgramadaIdentificacion %}{{ entity.fechaProgramadaIdentificacion|date('Y-m-d H:i:s') }}{% endif %}</td> #}
               {# <td>{{ entity.observacionesRevision }}</td>#}
                <td>{{ entity.estadoSolicitud }} <ul>
                    <li>
                        <a href="{{ path('solmantenimientoidentificacion_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('solmantenimientoidentificacion_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul></td>
               
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
                                            <tr>
                                               <th>Fechasolicitud</th>
                {#<th>Justificacionreidentificacion</th>#}
                
                <th>Ica3101</th>
                <th>Nombre finca</th>
                <th>Nombre propietario finca</th>
                {# <th>Cedula propietario finca</th>
                <th>Telefono fijo propietario</th>
                <th>Telefono celular propietario</th>
                <th>Nombre solicitante</th>
                {#<th>Cedula solicitante</th>
                <th>Telefono fijo solicitante</th>
                <th>Telefono celular solicitante</th>
                {#<th>Fechaprogramadaidentificacion</th>#}
                {#<th>Observacionesrevision</th>#}
                <th>Estadosolicitud</th>
                                            </tr>
                                        </tfoot>
    </table>
                </div>
                </div>
                
    {% endblock %}
{% block javascripts %}
    {{ parent() }}
    
            <script type="text/javascript">
            $(function() {
                $("#example1").dataTable();
             });
        </script>
{% endblock %}    