{% extends 'ThemesBundle::frontened.html.twig' %}
{% block body %}
<div class="container profile">
      <div class="span3"> <img src="{{ asset('bundles/themes/frontened/img/mini.png') }}"> </div>
      <div class="span5">
        <h1>ProcesAgro</h1>
        <h3>App diseñada por Wyble</h3>
        <p> Somos el equipo ganador del Agroton </p>
        <a href="#" class="hire-me"><i class="icon-paper-plane"></i> Hire Me </a> </div>
</div>
 <div class="row social">
      <ul class="social-icons">
        <li><a href="#" target="_blank"><img src="{{ asset('bundles/themes/frontened/img/fb.png') }}" alt="facebook"></a></li>
        <li><a href="#" target="_blank"><img src="{{ asset('bundles/themes/frontened/img/tw.png') }}" alt="twitter"></a></li>
        <li><a href="#" target="_blank"><img src="{{ asset('bundles/themes/frontened/img/go.png') }}" alt="google plus"></a></li>
        <li><a href="#" target="_blank"><img src="{{ asset('bundles/themes/frontened/img/pin.png') }}" alt="pinterest"></a></li>
        <li><a href="#" target="_blank"><img src="{{ asset('bundles/themes/frontened/img/st.png') }}" alt="stumbleupon"></a></li>
        <li><a href="#" target="_blank"><img src="{{ asset('bundles/themes/frontened/img/dr.png') }}" alt="dribbble"></a></li>
      </ul>
 </div>
 <div class="footer">
      <div class="container">
        <p class="pull-left"><a href="http://procesagro.com">www.procesagro.com</a></p>
        <p class="pull-right"><a href="#myModal" role="button" data-toggle="modal"> <i class="icon-mail"></i> CONTACT</a></p>
      </div>
 </div>
 <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel"><i class="icon-mail"></i> Contact Me</h3>
      </div>
      <div class="modal-body">
        <form>
          <input type="text" placeholder="Yopur Name">
          <input type="text" placeholder="Your Email">
          <input type="text" placeholder="Website (Optional)">
          <textarea rows="3" style="width:80%"></textarea>
          <br/>
          <button type="submit" class="btn btn-large"><i class="icon-paper-plane"></i> ENVIAR</button>
        </form>
      </div>
    </div>
{% endblock %}