{% extends 'ThemesBundle::backend.html.twig' %}

{% block body -%}
      <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">Listado Departamento</h3></div>
    <div class="panel-body">
<a href="{{ path('departamento_new') }}" class="btn btn-info"><span class="glyphicon glyphicon-ok"></span>
                Crear nuevo
            </a>
                 <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>No.</th>
                <th>Nombre Departamento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('departamento_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>{{ entity.nombreDepartamento }}</td>
                <td>
                        <a href="{{ path('departamento_show', { 'id': entity.id }) }}" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-search"></span></a>
                        <a href="{{ path('departamento_edit', { 'id': entity.id }) }}" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-edit"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
                 </div>
    </div>
      </div>
    {% endblock %}
