{% extends 'ThemesBundle::plantilla2.html.twig' %}
{% block body %}

 <div class="panel panel-default">
     <div class="panel-heading"><h3 class="panel-title">Convocatorias</h3></div>
            <div class="panel-body">
  <table class="table table-responsive">
        <thead>
            <tr>
                <th>No. </th>
                <th>Descripcion</th>
                <th>Url convocatoria</th>
                <th>Descripcion larga</th>
                
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ entity.descripcion }}</td>
                <td><a href="{{ entity.urlConvocatoria }}" target="_blank">{{ entity.urlConvocatoria }}</a></td>
                <td>{{ entity.descripcionLarga }}</td>
               
            </tr>
        {% endfor %}
        </tbody>
    </table>
            </div>
 </div>
{% endblock %}