{% extends 'ThemesBundle::plantilla2.html.twig' %}

{% block body -%}
    <div class="row">
         
    
        <div class="col-md-4"><img src="http://www.sanipets.com/wp-content/uploads/2013/09/ica.jpg" class="img-responsive" alt="Responsive image" width="150px" height="80px">
        </div>
    
    <div class="col-md-4"><img src="https://www.minagricultura.gov.co/imgLayout/logo-min-agricultura.png" class="img-responsive" alt="Responsive image" width="200px" height="80px">
        </div>
    
    <div class="col-md-4"><img src="http://wsp.presidencia.gov.co/portal/descargas/PublishingImages/Logo-Prosperidad.jpg" class="img-responsive" alt="Responsive image" width="200px" height="80px">
        </div>
    </div>
   
    
    <div class="text-left">
    <p class="text-center">SISTEMA NACIONAL DE IDENTIFICACIÓN E INFORMACIÓN DEL GANADO BOVINO.</p>
    <p class="text-center">    PLAN NACIONAL DE IDENTIFICACIÓN </p>
    <p class="text-center">FORMATO UNICO DE SOLICITUD DE IDENTIFICACIÒN O MANTENIMIENTO.</p>
</div>
    <br>
    <br>
      <div class="panel panel-default">
               <div class="panel-body">
    {{ form_start(form) }}
   <div class="row">
       <fieldset>
    <div class="col-lg-12">
     <div class="col-md-6">{{ form_row(form.municipio) }}</div>
    <div class="col-md-6">{{ form_row(form.seccional) }}</div> 
   </div>
       </fieldset>
   
   <fieldset>
        <div class="col-md-12 alert-success center">
            <hr>1.REGISTRO SANITARIO DE PREDIOS PECUARIOS<hr>
        </div>
       <div class="col-lg-4">{{ form_row(form.ica3101) }}</div>
        <div class="col-lg-8">{{ form_row(form.nombreFinca) }}</div>
        <div class="col-lg-8">{{ form_row(form.nombrePropietarioFinca) }}</div>
        <div class="col-lg-4">{{ form_row(form.cedulaPropietarioFinca) }}</div>
        <div class="col-lg-6">{{ form_row(form.telefonoFijoPropietario) }}</div>
        <div class="col-lg-6">{{ form_row(form.telefonoCelularPropietario) }}</div>
        <div class="col-lg-8">{{ form_row(form.nombreSolicitante) }}</div>
        <div class="col-lg-4">{{ form_row(form.cedulaSolicitante) }}</div>
        <div class="col-lg-6">{{ form_row(form.telefonoFijoSolicitante) }}</div>
        <div class="col-lg-6">{{ form_row(form.telefonoCelularSolicitante) }}</div>
  </fieldset>
   
  <fieldset>
        <div class="col-lg-12 alert-success center"><hr>2.CANTIDAD DE ANIMALES A IDENTIFICAR: (Número de animales por especie y rango de edades.)<hr>
        </div>
      {% for especies in form.especieRango %}
      <div class="col-lg-4">{{ form_row(especies.cantidad) }}</div>
      <div class="col-lg-4">{{ form_row(especies.rangoEdades) }}</div>
      <div class="col-lg-4">{{ form_row(especies.especieAnimal) }}</div>
      {% endfor %}
  </fieldset>
  <fieldset>
      <div class="col-lg-12 alert-success center"><hr>3.MOTIVO DE LA SOLICITUD DE IDENTIFICACIÓN<hr>
        </div>
     
                <div class="col-lg-12">{{ form_row(form.justificacionReidentificacion) }}</div>
           {#% for cantidades in form.cantidadMotivo %}
                <div class="col-lg-6">{{ form_row(cantidades.motivoIdentificacion) }}</div>
                <div class="col-lg-6">{{ form_row(cantidades.cantidad) }}</div>
           {% endfor %#}
           <br>
           <div class="panel panel-default">
               <div class="panel-body">
                   <br>
                    <div class="col-lg-4"> 
                     <ul class="tags" data-prototype="{{ form_widget(form.cantidadMotivo.vars.prototype)|e }}">

                     </ul>
                    </div>
               </div>      
           </div>
  </fieldset>
      {% if is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
  <fieldset disabled>
       <div class="col-lg-12 alert-success center"><hr>4.ESPACIO EXCLUSIVO PARA APROBACIÓN POR PARTE DEL ICA:<hr>
        </div>
      <div class="col-lg-12">{{ form_row(form.fechaProgramadaIdentificacion) }}<br></div>
      <div class="col-lg-12">{{ form_row(form.observacionesRevision) }}</div>
      <div class="col-lg-12">{{ form_row(form.estadoSolicitud) }}</div>
  </fieldset>    
      {% endif %}
   </div>
    {{ form_end(form) }}
               </div>
      </div>
      {#  <ul class="record_actions">
    <li>
        <a href="{{ path('solmantenimientoidentificacion') }}">
            Volver al listado
        </a>
    </li>
</ul>#}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>  
        var $collectionHolder;

        // setup an "add a tag" link
        var $addTagLink = $('<a href="#" class="add_tag_link btn btn-warning btn-sm">Añadir motivo</a>');
        var $newLinkLi = $('<li></li>').append($addTagLink);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.tags');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });
        });
        
        function addTagForm($collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');

    // get the new index
    var index = $collectionHolder.data('index');

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    var newForm = prototype.replace(/__name__/g, index);

    // increase the index with one for the next item
    $collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<li></li>').append(newForm);
    $newLinkLi.before($newFormLi);
}
</script>
{% endblock %}    