{% extends 'ThemesBundle::backend.html.twig' %}

{% block body -%}
    <div class="col-lg-6">
    <div class="panel panel-default">
            
            
        <div class="panel-heading"><h3 class="panel-title">Ofertas Institucionales</h3></div>
  
        <div class="panel-body"> 
     <div class="table-responsive">     
    <table class="table">
        <tbody>
            
            <tr>
                <th>Titulo de la oferta</th>
                <td>{{ entity.tituloOferta }}</td>
            </tr>
            <tr>
                <th>Descripción Oferta</th>
                <td>{{ entity.descripcionOferta }}</td>
            </tr>
            <tr>
                <th>Url audio oferta</th>
                <td>{% if entity.urlAudioOferta == null %}
                        
                    {% else %}
                    <a href="{{ entity.urlAudioOferta }}" target="_blank" class="btn btn-info"><span class="glyphicon glyphicon-headphones"></span></td>
                    {% endif %}
                    </tr>
            <tr>
                <th>Url oferta</th>
                <td><a href="{{ entity.urlOferta }}" target="_blank" class="btn btn-success"><span class="glyphicon glyphicon-globe"></span></td>
            </tr>
        </tbody>
    </table>
     </div>
        <a href="{{ path('ofertasinstitucionales') }}" class="btn btn-success"><span class="glyphicon glyphicon-arrow-left"></span>
            Volver al listado
        </a>
        <a href="{{ path('ofertasinstitucionales_edit', { 'id': entity.id }) }}" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span>
            Editar
        </a>
        {{ form(delete_form) }}
        </div>
    </div>
    </div>
    <div class="col-lg-6">
        
        <div class="panel panel-default">
            
            
            <div class="panel-heading"><h3 class="panel-title">PASOS DE {{ entity.tituloOferta|upper }}</h3></div>
            
        <div class="panel-body"> 
            
            <a href="{{ path('pasosoferta_new', { 'oferta': entity.id }) }}" class="btn btn-info"><span class="glyphicon glyphicon-ok"></span>
                Crear nuevo
            </a>
       <div class="table-responsive">
     <table class="table">
        <thead>
            <tr>
                <th>No.</th>
                <th>Título del paso</th>
                <th>Descripción paso</th>
                <th>Url paso</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for otro in pasos %}
            <tr>
                <td>{#<a href="{{ path('pasosoferta_show', { 'id': otro.id }) }}">{{ loop.index }}</a>#}{{ loop.index }}</td>
                <td>{{ otro.tituloPasos }}</td>
                <td>{{ otro.descripcionPaso }}</td>
                <td>
                    {% if otro.urlPaso == null %}
                        
                    {% else %}
                    <a href="{{ otro.urlPaso }}" target="_blank" class="btn btn-success"><span class="glyphicon glyphicon-globe"></span></a></td>
                    {% endif %}
                    <td>
                   <a href="{{ path('pasosoferta_edit', { 'id': otro.id, 'oferta': entity.id }) }}"  class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-edit"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
       </div>
      
        </div>
        </div>
        
    </div>
{% endblock %}
