{% extends 'ThemesBundle::backend.html.twig' %}

{% block body -%}
    <div class="col-lg-6">
    <h1>Ofertas Institucionales</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Titulooferta</th>
                <td>{{ entity.tituloOferta }}</td>
            </tr>
            <tr>
                <th>Descripcionoferta</th>
                <td>{{ entity.descripcionOferta }}</td>
            </tr>
            <tr>
                <th>Urlaudiooferta</th>
                <td>{{ entity.urlAudioOferta }}</td>
            </tr>
            <tr>
                <th>Urloferta</th>
                <td>{{ entity.urlOferta }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('ofertasinstitucionales') }}">
            Volver al listado
        </a>
    </li>
    <li>
        <a href="{{ path('ofertasinstitucionales_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
    </div>
    <div class="col-lg-6">
        
        <div class="panel panel-default">
            
            
            <div class="panel-heading"><h3 class="panel-title">PASOS DE {{ entity.tituloOferta|upper }}</h3></div>
            
        <div class="panel-body"> 
            
              <ul>
        <li>
            <a href="{{ path('pasosoferta_new', { 'oferta': entity.id }) }}">
                Crear nuevo
            </a>
        </li>
    </ul>
            <table class="table">
        <thead>
            <tr>
                <th>No.</th>
                <th>Titulopasos</th>
                <th>Descripcionpaso</th>
                <th>Urlpaso</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for otro in pasos %}
            <tr>
                <td><a href="{{ path('pasosoferta_show', { 'id': otro.id }) }}">{{ loop.index }}</a></td>
                <td>{{ otro.tituloPasos }}</td>
                <td>{{ otro.descripcionPaso }}</td>
                <td>{{ otro.urlPaso }}</td>
                <td>
                <ul>
                    
                    <li>
                        <a href="{{ path('pasosoferta_edit', { 'id': otro.id, 'oferta': entity.id }) }}">editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

      
        </div>
        </div>
        
    </div>
{% endblock %}
