{% extends 'ThemesBundle::backend.html.twig' %}

{% block body -%}
      <div class="panel panel-default">
            
            
          <div class="panel-heading"><h3 class="panel-title">Solicitud Cantidad Motivo</h3></div>
          <div class="panel-body"> 

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ entity.cantidad }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('solicitudcantidadmotivo') }}">
            Volver al listado
        </a>
    </li>
    <li>
        <a href="{{ path('solicitudcantidadmotivo_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
          </div>
      </div>
{% endblock %}
