{% extends 'ThemesBundle::backend.html.twig' %}

{% block body -%}
 <div class="panel panel-default">
     <div class="panel-heading"><h3 class="panel-title">Motivo Identificacion</h3></div>
    <div class="panel-body">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre motivo</th>
                <td>{{ entity.nombreMotivo }}</td>
            </tr>
        </tbody>
    </table>

        <a href="{{ path('motivoidentificacion') }}" class="btn btn-success"><span class="glyphicon glyphicon-arrow-left"></span>
            Volver al Listado
        </a>
        <a href="{{ path('motivoidentificacion_edit', { 'id': entity.id }) }}" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span>
            Editar
        </a>
    {{ form(delete_form) }}
    </div>
 </div>
{% endblock %}
